{          
    box-sizing: border-box;  
    width: 5%;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI",Tahoma,Geneva,Verdana,Sans-serif;
    }
    
    header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        height: 70px;
        background-color: rgb(236, 179, 194);
        color: white;
        position: relative; 
    }
    
    .hamburger {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        left: 20px;
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 3px;
        transition: 0.3s;
    }
    
    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100px;
        left: 20px;
        background-color: rgb(245, 230, 199);
        border-radius: 5px;
        width: 200px;
    }
    
    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .menu li {
        margin: 10px 0;
    }
    
    .menu a {
        color: rgb(186, 112, 139);
        text-decoration: none;
        padding: 10px 20px;
        display: block;
        width: 100%;
        text-align: center;
        
    }
    
    
    .menu.active {
        display: flex;
    }

    h1 {
        margin: 0 100px;
    }


    body {
        background-image: url("./Lover\ Background.jfif");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*boxes*/
    .main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden;
    }
    .box {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 18px;
        border: transparent;
    }

 
    .box1 {
        background-color: transparent; 
        grid-column: span 3 ; 
        grid-row: span 5;
    }
    .box2 {
        background-color: transparent;
        grid-column: span 1; 
        grid-row: span 2s;
    }
    .box3 {
        background-color: transparent;
        grid-column: span 1; 
        grid-row: span 2 ;
        padding: 15px;
    }

    /*end of boxes*/
    .baba{
        background-color: transparent;
        width: auto;
        height: auto;
        padding: 20px;
        text-align: justify;
    }
     
    
    .section {
        height: 120vh; 
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        color: white;
        text-align: none;
    }
    .screen1 {
        background-color: transparent; 
    }
    .screen2 {
        background-color: transparent; 
    }
    
    .right, .left {
        display: flex;
        justify-content: none;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        
    }
    .right {
        background-color: rgb(247, 223, 189); 
        border-radius: 10px;
        border: 2px solid;
        padding: 20px; 
        margin: 10px;
        margin-top: 30px;
        width: 90%;
        height: 80%;
        align-items: flex-start; 
        justify-content: center;
        gap: 5px;
        grid-template-columns: repeat(3, 1fr);    
           
    
       
    }
    .left {
        background-color:transparent;
        border-radius: none;
        border: none;
        padding: 5px;
        margin-top: 10px;
        height: 100%;
        text-align: left;

    }
    .line {
        border: 0;
        height: 1px;
        background: #ccc;
        margin: 120px 0;
       
    }
    .containerleft{
        background-color: rgb(179, 191, 217, 0.6);
        height: 100vh;
        width: 100vh;
        margin: 20px  ;
        padding: 120px;
        border-radius: 20px;
        text-align: justify;
       
    }

        .containerleft h1{
            font-size: xx-large;
            margin-left:10px;
    
        }
        .containerleft p{
            margin-top: 20px;
            padding: 20px;
    
        }
        
    button {
        background-color: rgb(236, 179, 194);
        border: none;
        color: rgb(0, 0, 0);
        padding: 5px 5px;
        display: flex; 
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
        margin: 15px 3px;
        
    }
       button:hover {
            background-color: rgb(85, 123, 160);
          
        }

        button:active {
            background-color: rgb(65, 103, 140);
            transform: translateY(2px);
            
        }

a {
    text-decoration: none;
    color: rgb(245, 230, 199);
    padding: 10px 30px;
}
    .item {
        margin: 5px 5px;
        box-sizing: border-box;
        justify-content:center ;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    
    /*Bottom box*/
    .bottom-box{
        display: grid;
        width: 100%;
        height: 100% ;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
        margin: 20px;
    }
    .low{
        grid-column: span 5;
        height: auto;
        text-align: justify;
    }
    .box4 {
        background-color:rgb(247, 223, 189); 
        color: black;
        padding: 70px;
        font-size: medium;
        height: 300px;
        border: rgb(245, 230, 199) solid ;
    }
    .box5 {
        background-color: rgb(239, 207, 210);
        color: black;
        padding: 70px;
        font-size: medium;
        height: 300px;
        border: rgb(245, 230, 199) solid ;
    }
    .box6 {
        background-color: rgb(179, 191, 217);
        color: black;
        padding: 70px;
        font-size: medium;
        height: 300px; 
        border: rgb(245, 230, 199) solid ;
    }


    footer{
        background-color: rgb(105, 143, 180);
        color: #ffffff;
        border: 10px;
        display: flex;
        padding: 80px;
        height: 80%;
        width: auto;
        justify-content: center;
        margin-top: 300px;
    }

    .footer{
       display: flex;
       justify-content: space-between;
       gap: 20px;
       align-items: flex-start;
    }
    


    @media (max-width: 600px) {
        * {
            box-sizing: border-box;
          }
        
          body {
            overflow-x: hidden;
          }
        
          html, body {
            margin: 0;
            padding: 0;
            width: 100%;
          } 

        header {
            display: flex;
            align-items: center;
            padding: 10px 5px;
            width: 110%;
            height: 70px;
            background-color: rgb(236, 179, 194);
            color: white;
            position: relative; 
        }
        
        .hamburger {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 5px;
            position: absolute;
            left: 20px;
        }
        
        .bar {
            width: 25px;
            height: 3px;
            background-color: white;
            border-radius: 3px;
            transition: 0.3s;
        }
        
        .menu {
            display: none;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 80px;
            left: 20px;
            background-color: rgb(245, 230, 199);
            border-radius: 5px;
            width: 200px;
        }
        
        .menu ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        .menu li {
            margin: 10px 0;
        }
        
        .menu a {
            color: rgb(186, 112, 139);
            text-decoration: none;
            padding: 10px 20px;
            display: block;
            width: 100%;
            text-align: center;
            
        }
        
        
        .menu.active {
            display: flex;
        }
    
        h1 {
            margin: 0 100px;
        }
    
    
        .main {
            grid-template-columns: 1fr;
            margin: 5px 0;
            width: 100%;
        }

        .right {
            grid-template-columns:repeat (1, 1fr) ; /* Make .right single column */
            background-color: rgb(247, 223, 189);
            border-radius: 10px;
            width: 100%;
            height: auto;
            border: none;
            padding: 1px 0px;
            margin: 5px 0;
        }
        
        .item {
            width: 50%; /* Make .item full width */
            text-align: center;
            gap: 5px;
            margin: 5px ;
        }
        a {
            text-decoration: none;
            color: rgb(245, 230, 199);
            padding: 10px 20px;
            
        }
        .baba{
            background-color: transparent;
            width: auto;
            height: auto;
            padding: 20px;
            text-align: justify;
        }
        .baba img{
            width: 290px;
            height: 250px;
        }

        .box {
            font-size: 16px;
            padding: 10px;
        }
    
        .box1{
            grid-column: span 3;
            padding: 10px;
          
        } 
        .box2{
            grid-column: span 3;
         
        } 
        .box3 {
            grid-column: span 1;
            padding: 10px;
            height: 100%;
        
      
        }
    
        .containerleft {
            width: 100%;
            padding: 30px;
            margin: 5px;
        }
    
        .containerleft p{
            font-size: small;
            margin-top: 25px;
        }
        .containerleft h1{
            font-size: xx-large;
            margin-left:10px;
    
        }
        button {
            background-color: rgb(236, 179, 194);
            border: none;
            color: rgb(0, 0, 0);
            padding: 10px 5px;
            width: 90px;
            display: flex; 
            border-radius: 10px;
            text-align: center;
            justify-content: center;
            box-sizing: border-box;
            margin: 15px 3px;
            
        }    
        button:hover {
            background-color: rgb(85, 123, 160);
    
        }

        button:active {
            background-color: rgb(65, 103, 140);
            transform: translateY(2px);
        }

         .section {
        height: 120vh; 
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        color: white;
        text-align: none;
    }
    .screen1 {
        background-color: transparent; 
    }
    .screen2 {
        background-color: transparent; 
    }
    
          /*Bottom box*/

    .bottom-box{
        display: grid;
        width: 190%;
        height: 155% ;
        grid-template-columns: repeat(3, 1fr);
        margin-top:470px ;
    }
    .low{
        width: 100% ;
    }
    
    .box4 {
        border: rgb(245, 230, 199) solid ;
        color: black;
        padding: 10px;
        width: 300px;
        height: 400px;
        font-size: x-small;
        background-color:rgb(247, 223, 189); 
    }
    .box5 {
        background-color: rgb(239, 207, 210);
        color: black;
        padding: 10px;
        width: 300px;
        height: 400px;   
        font-size: x-small;
        border: rgb(245, 230, 199) solid ;
    }
    .box6 {
        background-color: rgb(179, 191, 217);
        color: black;
        padding: 10px;
        width: 300px;
        height: 400px;
        font-size: x-small;
        border: rgb(245, 230, 199) solid ;
    }
    
          footer{
        background-color: rgb(105, 143, 180);
        color: #ffffff;
        border: 10px;
        display: flex;
        padding: 80px;
        width: auto;
        justify-content: center;
        margin-top: 950px;
    }
    
    }
